{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}
{% block footer %}
<script src="{{ url_for('static', filename= 'js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/decode.js') }}"></script>
<script>
    const map = L.map('map').setView([-7.282026, 112.794915], 16);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var geometries = [];
    
    function addSegment(i, encoded_geometries) {
        // Decode
        let decoded = decode(encoded_geometries, 1e5);
        var json = {
          type:'FeatureCollection',
          features: [{
            type: 'Feature',
            geometry: {
              type: 'LineString',
              coordinates: decoded
            },
            properties: {}
          }]
        };
        geojson = L.geoJson(json,{ style: function(feature) { 
          return { fillColor: feature.properties.fill,
            color: geometries[i].color,
            opacity: 0.75,
            weight: 7,
          };
        }});
        geojson.addTo(map);
        map.fitBounds(L.GeoJSON.coordsToLatLngs(decoded));
        geometries[i].polylines.push(geojson);
    }

    function addMarker(lat, lng, cap, name) {
        let m = L.marker([lat, lng]).addTo(map);
        m.bindPopup(name + " / " + cap + " capacity");
    }

    function getDarkColor() {
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += Math.floor(Math.random() * 10);
        }
        return color;
    }

    {% if result %}
        // Generate route
        {% for i in range(result|count) %}
            geometries[{{ i }}] = {
                color: getDarkColor(),
                polylines: []
            };
            {% for g in result[i]['geometry'] %}
                addSegment({{ i }}, "{{ g|e }}");
            {% endfor %}
            {% for w in result[i]['waypoint'] %}
                addMarker({{ w[0] }}, {{ w[1] }}, {{ w[2] }}, "{{ w[3] }}");
            {% endfor %}
        {% endfor %}
    {% endif %}

    function hideGeometry(i) {
        geometries[i].polylines.forEach(function (val) {
            map.removeLayer(val);
        });
    }

    function showGeometry(i) {
        geometries[i].polylines.forEach(function (val) {
            map.addLayer(val);
        });
    }

    var state_drop_pin = -1;
    function dropPin(num) {
        state_drop_pin = num;
    }

    map.on('click', function(e) {
        if (state_drop_pin != -1) {
            var popLocation= e.latlng;
            L.marker(popLocation).addTo(map);
            if (state_drop_pin == 0) {
                $("#depot-lat").val(popLocation.lat);
                $("#depot-lng").val(popLocation.lng);
            }
            else {
                $("#destination-lat-" + state_drop_pin).val(popLocation.lat);
                $("#destination-lng-" + state_drop_pin).val(popLocation.lng);
            }
            state_drop_pin = -1;     
        }
    });
</script>
<script>
    $("#my-location").click(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                let lat = position.coords.latitude;
                let lng = position.coords.longitude;

                map.setView([lat, lng], 16);
                L.marker([lat, lng]).addTo(map);
            });
        }
        else alert("Sorry, Geolocation is not supported by your browser.");
    });

    var numDestination = 1;
    function addDestination() {
        numDestination += 1;
        $("#destination-list").append('<div class="form-group">\
                        <div class="row">\
                            <div class="col">\
                                # ' + (numDestination-1) + '\
                            </div>\
                            <div class="col">\
                                <input type="text" class="form-control form-control-sm" name="destination-lat[]" id="destination-lat-' + numDestination + '" placeholder="Latitude">\
                            </div>\
                            <div class="col">\
                                <input type="text" class="form-control form-control-sm" name="destination-lng[]" id="destination-lng-' + numDestination + '" placeholder="Longtitude">\
                            </div>\
                            <div class="col">\
                                <input type="number" class="form-control form-control-sm" name="destination-cap[]" placeholder="Capacity">\
                            </div>\
                            <div class="col">\
                                <button type="button" class="btn btn-success btn-sm" onclick="dropPin(' + numDestination + ')"><img src="{{ url_for("static", filename="css/icons/icons8-location-50.png") }}" width="18px"></button>\
                            </div>\
                        </div>\
                    </div>');
    }
</script>
{% endblock %}
{% block title %}Location-based Services{% endblock %}
{% block content %}
    <h1 class="mb-2">CVRP Prototype</h1>
    <div class="row">
        <div class="col">
            <form method="POST" action="/run">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            Depot
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name="depot-lat" id="depot-lat" placeholder="Latitude">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name="depot-lng" id="depot-lng" placeholder="Longtitude">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" name="vehicle-capacity" id="vehicle-capacity" placeholder="Capacity">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-success btn-sm" onclick="dropPin(0)"><img src="{{ url_for('static', filename='css/icons/icons8-location-50.png') }}" width="18px"></button>
                        </div>
                    </div>
                </div>
                <div id="destination-list">

                </div>
                <button id="my-location" class="btn btn-sm btn-secondary">My location</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="addDestination()">+ Destination</button>
                <button type="submit" class="btn btn-primary btn-sm">Run</button>
            </form>

            {% if result %}
                <h4 class="mt-4">Result</h4>
                {% for i in range(result|count) %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Route {{ i }}</h5>
                            <ol>
                            {% for w in result[i]['waypoint'] %}
                                <li>{{ w[3] }}</li>
                            {% endfor %}
                            </ol>
                            <button class="btn btn-sm btn-secondary" onclick="hideGeometry({{ i }})">Hide</button>
                            <button class="btn btn-sm btn-secondary" onclick="showGeometry({{ i }})">Show</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
    <div class="text-center mt-4 mb-2">
        Powered by JQuery, Popper, Bootstrap, Leaflet, Flask, MapBox
    </div>
{% endblock %}